@model IEnumerable<IDV_NET5_WEB.Models.Movie>
@{
    ViewData["Title"] = "Home Page";
}
<div id="content">
    <div id="slogan">
        <div class="image png"></div>
        <div class="inside">
            <h2>We are breaking<span>All Limitations</span></h2>
            <p>Lorem ipsum dolor consectetur adipisicing elit, sed do eiusmod tempor incididunt labore etolore magna aliqua enim minim veniam quis nostrud exercitation ullamco laboris.</p>
            <div class="wrapper"><a href="#" class="link1"><span><span>Learn More</span></span></a></div>
        </div>
    </div>
    <div class="box">
        <div class="border-right">
            <div class="border-left">
                <div class="inner">
                    <h3>Welcome to <b>Cinema</b> <span>World</span></h3>
                    <p>Cinema World Site is a free web template created by TemplateMonster.com team. This website template is optimized for 1024X768 screen resolution. It is also XHTML &amp; CSS valid.</p>
                    <div class="img-box1"><img src="images/1page-img1.jpg" alt="" />This website template can be delivered in two packages - with PSD source files included and without them. If you need PSD source files, please go to the template download page at TemplateMonster to leave the e-mail address that you want the template ZIP package to be delivered to.</div>
                    <p>This website template has several pages: <a href="index.html">Home</a>, <a href="about-us.html">About us</a>, <a href="articles.html">Articles</a> (with Article page), <a href="contact-us.html">Contact us</a> (note that contact us form – doesn’t work), <a href="sitemap.html">Site Map</a>.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <h3>Fresh <span>Movies</span></h3>
        <ul class="movies">
            @if (Model.Any())
            {
                @foreach (var i in Model)
                {
                    @if ((@i.Id % 3) == 0)
                    {
                        <li class="last">
                            <h4>@i.Title</h4><img src="images/@i.Picture_link" alt="" />
                            <p>@i.Description</p>
                            <div class="wrapper"><a class="link2" asp-area="" asp-controller="Home" asp-action="Movie" asp-route-id="@i.Id"><span><span>Read More</span></span></a></div>
                        </li>
                    }
                    else
                    {
                        <li>
                            <h4>@i.Title</h4><img src="images/@i.Picture_link" alt="" />
                            <p>@i.Description</p>
                            <div class="wrapper"><a class="link2" asp-area="" asp-controller="Home" asp-action="Movie" asp-route-id="@i.Id"><span><span>Read More</span></span></a></div>
                        </li>
                    }

                }
            }
            <li class="clear">&nbsp;</li>
        </ul>
    </div>
</div>
