@model IEnumerable<IDV_NET5_WEB.Models.User>
@{
    ViewData["Title"] = "Welcome";
}


<h2>Welcome @ViewBag.Username</h2>

<div class="row">
    <div class="col-md-12">
        <h2>Registered Users</h2>
        @if (Model.Any())
        {
            <table class="table">
                <tr>
                    <th>First name</th>
                    <th>Fucknig last name</th>
                    <th>It's 01:00 O clock username</th>
                    <th>email</th>
                </tr>
                @foreach (var i in Model)
                {
                    <tr>
                        <td>@i.FirstName</td>
                        <td>@i.LastName</td>
                        <td>@i.UserName</td>
                        <td>@i.Email </td>
                    </tr>

                }
            </table>
        }
        else
        {
            <p>Nobody is in there. Where am I ????</p>

        }
    </div>
</div>
